.clickable-text {
    color: #007bff;
    /* Blue color */
    cursor: pointer;
    text-decoration: none;
}

.clickable-text:hover {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell {
    text-align: left;
    padding: 8px;
}

tr.mat-mdc-row:hover {
    background-color: #D4BEE4;
    cursor: pointer;
}

.mat-header-row:hover {
    background-color: #e0e0e0;
    /* Slightly darker gray for header */
}

button {
    margin-right: 8px;
}

.search {
    display: flex;
    gap: 16px;
    /* Space between elements */
    margin-bottom: 16px;
    /* Space between header and table */
    align-items: center;
}

.search-field,
.date-field {
    width: 250px;
    /* Adjust the width as necessary */
}

button {
    height: 36px;
    /* Standard button height */
    font-size: 14px;
}