mat-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}