@if(isEmployeeFormVisible){

@if(isEditButtonClicked) {
<div>
    <app-employee-form [employeeData]="selectedEmployeeData" mode="edit" (formCloseEvent)="OnEmployeeFormClosed()"
        (successfulAddUpdateEmployeeEvent)="OnEmployeeAddUpdateOperationSuccess()"></app-employee-form>
</div>
}
@else {
<div>
    <app-employee-form mode="add" (formCloseEvent)="OnEmployeeFormClosed()"
        (successfulAddUpdateEmployeeEvent)="OnEmployeeAddUpdateOperationSuccess()"></app-employee-form>
</div>
}
}
@else if (isAttendanceFormVisible) {
<app-attendance-form mode="add" [selectedEmployeeId]="selectedEmployeeId" (formCloseEvent)="OnAttendanceFormClosed()"
    (successfulAddUpdateAttendanceEvent)="OnAttendanceAddUpdateOperationSuccess()"></app-attendance-form>
}
@else() {
<div class="header">
    <h2>Employee List</h2>
    <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
</div>
<div class="table-container" style="margin: 20px;">
    <table mat-table [dataSource]=" employeeData" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }} </td>
        </ng-container>

        <!-- Birth Date Column-->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> Birth Date </th>
            <td mat-cell *matCellDef="let element">
                {{ element.birthDate | date: 'yyyy-MM-dd' }}
            </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let element"> {{ element.department }} </td>
        </ng-container>

        <!-- Designation Column -->
        <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{ element.designation }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <mat-select panelWidth="300px" placeholder="Actions">
                    <mat-option>
                        <button mat-raised-button color="primary" (click)="onEdit(element)">Edit Employee</button>
                    </mat-option>
                    <mat-option>
                        <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete Employee</button>
                    </mat-option>
                    <mat-option>
                        <button mat-raised-button color="primary" (click)="onAddAttendance(element.id)">Add
                            Attendance</button>
                    </mat-option>
                    <mat-option>
                        <button mat-raised-button color="primary" (click)="onViewAttendance(element.id)">View
                            Attendance</button>
                    </mat-option>
                    <mat-option>
                        <button mat-raised-button color="primary" (click)="onViewLogs(element.id)">View Logs</button>
                    </mat-option>
                </mat-select>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
}